* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    padding: 0 auto;
    margin: 0 auto;
    background-color: white;

}

header {
    display: flex;
    font-size: 18px;
    color: black;
    padding: 8 16;
    border: 20px;
    border-color: #032657;
    align-items: center;
    
}

.top-logo {
    height: auto;
    width:10%;
  
}

.rubrik-one{

    padding: auto;
    margin: auto;
    background-color: #032657;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
}



.anmelden {
    
    font-size: 28px;
    display: flex;
    padding-left: 50px;
    justify-content: space-between; /*spread boxes along axis. see also align-item*/
   
    
}

.freelancer {

    background-color: white;
    color: black;
    text-align: center;
    width: 70%;
    font-size: 24px;
    margin: 48px;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    border-radius: 25px; /*rounded corners on a box */
    
}
  .logo-it-blau{
    display: block;
  }


.deine-vorteile {

    padding: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    display: block;
}

.three-icons-deine-vorteile {

    display: flex;
    justify-content: center;
}

.unser-prozess {

    padding: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(190, 198, 215);
    color: black;
    display: block;
}

.five-icons-unser-prozess {

    display: block;
    
    background-color: rgb(190, 198, 215);
}

.prozess-left, .prozess-right {
    background-color: rgb(190, 198, 215);
    display: flex;
    border-radius: 25px; 
    text-align: left;
    padding: 0px 150px;
    
    
}
.prozess-left {
    flex-direction: row;
}
.prozess-right {
    flex-direction: row-reverse;
}

div#inner-boxes {
    background-color: white;
    border-radius: 25px;
    text-align: left;
    padding: 50px;
}


.ueber-uns {

    padding: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    display: block;
}
.two-icons-ueber-uns {

    display: block;
    
}

.ueber-uns-left, .ueber-uns-right {
    display: flex;
    border-radius: 25px; 
    text-align: left;
    padding: 50px 250px;
    
    
}
.ueber-uns-left {
    flex-direction: row;
}
.ueber-uns-right {
    flex-direction: row-reverse;
}

.aktuelles{
    padding: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    display: block;
    background-color: rgb(190, 198, 215);
}

div.scrollfotos {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollfotos a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px;
  }
  
  div.scrollfotos a:hover {
    background-color: #2e539e;
  }

  .dontwaitlong {

    padding: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    display: block;
}

.repeat-anmelden-freelancer{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: auto;
    justify-content: space-around;
}

.freelancertwo {

    
    text-align: center;
    width: auto;
    font-size: 24px;
    margin: auto;
    padding: 20px;
    border-radius: 25px; /*rounded corners on a box */
    box-shadow: 0px 0px 20px gray; 
    
}

.anmelden-two {

    display: block;
    text-align: left;
    margin: auto;
    margin-top: 100px;
    padding: auto;
    
}

.footer {

    padding: auto;
    margin: auto;
    text-align: center;
    color: black;
    display: block;
}

.footer-blocks{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 100px;
    margin-bottom: 10px;
    justify-content: center;
}

.footer-four{
    display: block;
    font-size: 18px;
    margin: 50px;
    color: grey;
}
